{% extends "visitor/visitor_home.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'visitor/visitor_find_crop.css' %}">

<div class="content">
    <h1><u><b>Find Crop</b></u></h1><br>
    <form method="POST">
        {% csrf_token %} 
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.nitrogen }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.phosphorus }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.potassium }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.temperature  }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.humidity }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.ph }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.rainfall  }}
            </div>
            <div class="form-group col-md-6 mb-0">
                <div class="submit">
                    <button type="submit" class="btn btn-primary" >Find</button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </div>
        </div>
        
    </form>
    <div class="row">
        <h2 style="text-align: center;">{{result}}</h2>
    </div>
</div>

<style>
    div .submit{
        padding-top: 22px;
        padding-left: 150px;
        padding-right: 20px;
    }
    .submit button{
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 20%;
        height: 45px;
        font-weight: bold;
    }
</style>

{% endblock %}