{% load crispy_forms_tags %}
<html>
    <head>
        <title>Agro Smart</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'visitor/visitor_home.css' %}">

    </head>

    <body>

    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <div class="container-fluid"><a class="navbar-brand text-center" href="#" style="margin: 0px 0px;">AGRO SMART</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav text-light ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'visitor_market_home' %}"><i class="fas fa-shopping-cart"></i>Virtual Market</a></li>
                    <li class="nav-item" role="presentation"><a class="bar">|</a></li>
                    <li class="nav-item" role="presentation"><a class="user"><i class="fas fa-user-circle"></i>{{user.visitor.get_name}}</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- The sidebar -->
    <div class="sidebar">
        <a href="{% url 'visitor_home' %}"><i class="fas fa-home"></i>Home</a>
        <a href="{% url 'visitor_profile' %}"><i class="fas fa-address-card"></i>Profile</a>
        <a href="{% url 'visitor_find_soil' %}"><i class="fas fa-map-marked"></i>Find Locations soil details</a>
        <a href="{% url 'visitor_find_soil_detail' %}"><i class="fab fa-searchengin" style="padding-right: 10px;"></i>Details about Soil</a>

        <a href="{% url 'visitor_find_rainfall' %}"><i class="fas fa-cloud-rain"></i>Find Rainfall</a>

        <a href="{% url 'visitor_find_crop' %}"><i class="far fa-question-circle" style="padding-right: 10px;"></i>Crop Recommendation</a>
        
        <button class="dropdown-btn"><i class="fas fa-file"></i>Request for Seed<i class="fas fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="{% url 'visitor_get_seed' %}"><i class="fas fa-file-signature"></i>Apply for Seed</a>
            <a href="{% url 'visitor_seed_request' %}"><i class="fas fa-file-contract"></i>Previous Applications</a>
        </div>

        <button class="dropdown-btn"><i class="far fa-file" style="padding-right: 10px;"></i>Request for Fertilizer<i class="fas fa-caret-down"></i></button>
        <div class="dropdown-container">
            <a href="{% url 'visitor_get_fertilizer' %}"><i class="fas fa-file-signature"></i>Apply for Fertilizer</a>
            <a href="{% url 'visitor_fertilizer_request' %}"><i class="fas fa-file-contract"></i>Previous Applications</a>
        </div>

        <a href="{% url 'visitor_market_home' %}"><i class="fas fa-shopping-cart"></i>Virtual Market</a>
        
        <div class="logout">
            {% comment %} <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a> {% endcomment %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="fas fa-sign-out-alt"  type="submit">logout</button>
            </form>
        </div> 
        
    </div>

    <script>
        //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } 
                else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

    {% block content %}

    <style>
        .hero__item {
            height: 431px;
            display: flex;
            align-items: center;
            padding-left: 75px;
        }
        .hero__text span {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            color: #7fad39;
            font-family: "Cairo", sans-serif;
        }
        .hero__text h2 {
            font-size: 46px;
            color: #000000;
            line-height: 52px;
            font-weight: 700;
            margin: 10px 0;
            font-family: "Cairo", sans-serif;
        }
        .hero__text p {
            margin-bottom: 35px;
            color: black;
            font-family: "Cairo", sans-serif;
        }  
        a.btn-outline-primary{
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 8px 28px;
            border-radius: 50px;
            transition: 0.5s;
            margin: 10px;
            border: 2px solid green;
            color: green;
        }

        a.btn-outline-primary:hover{
            background: green;
            border: 2px solid green;
        }
    </style>
    
    <!-- Page content -->
    <div class="content">
        
        <div class="form-group">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="hero__item set-bg" style="background-image: url('../static/image/agropic11.jpg'); width: 100%; background-size: cover;">
            <div class="hero__text">
                <span>Agro Smart</span>
                <h2>Crop Recommendation</h2>
                <p>You can find crop That suitable..</p>
                <a href="{% url 'visitor_find_crop' %}" class="btn btn-outline-primary">Find</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-seedling"></i><U><b>Find Locations soil detail</b></U></h5>
                        <p class="card-text"><b>You can find detail of soil in your loaction, it is more easy to find the soil is suitable for agriculture..</b></p>
                        <a href="{% url 'visitor_find_soil' %}" class="btn btn-outline-dark"><b>Go There</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-cloud-showers-heavy"></i><U><b>Find Rainfall</b></U></h5>
                        <p class="card-text"><b>Find rainfall of your location, it is more easy to find the Rainfall for your agriculture..</b></p>
                        <a href="{% url 'visitor_find_rainfall' %}" class="btn btn-outline-dark"><b>Go There</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-seedling"></i><U><b>Request for Seed</b></U></h5>
                        <p class="card-text"><b>You can request seed to Agriculture Officer directly using this website...</b></p>
                        <a href="{% url 'visitor_get_seed' %}" class="btn btn-outline-dark"><b>Go There</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">
                        <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-seedling"></i><U><b>Request for Fertilizer</b></U></h5>
                        <p class="card-text"><b>You can request seed to Agriculture Officer directly using this website...</b></p>
                        <a href="{% url 'visitor_get_fertilizer' %}" class="btn btn-outline-dark"><b>Go There</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% endblock %}

    </body>
</html>