{% extends "officer/officer_home.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'officer/officer_add_soil.css' %}">

<div class="content">

    <form method="POST" id="soiladdForm" data-regions-url="{% url 'ajax_load_regions' %}">
        {% csrf_token %} 
        <div class="container">
            <h1><u>Add Soil Details in location</u></h1>
            
            <hr>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.district  }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.region  }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.organic_carbon }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.phosphorous  }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.potassium }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.manganese  }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.sulphur  }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.ph_value  }}
                </div>
            </div>

            <hr>
            
            <button type="submit" class="btn btn-primary" >Add</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $("#id_district").change(function() {
            const url = $("#soiladdForm").attr("data-regions-url");
            const districtId = $(this).val();

            $.ajax({
                url: url,
                data:{
                    'district_id': districtId
                },
                success: function(data){
                    console.log(data)
                    $("#id_region").html(data);
                } 
            });
        });
    </script>
</div>

{% endblock %}