{% extends "officer/officer_home.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'officer/officer_active_soil.css' %}">
 
    <!-- Page content -->
    <div class="content">

        <div class="form-group">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <h1><u><b>Verified Soils</b></u></h1>

        <div class="addsoil">
            <a class="btn btn-success" href="{% url 'officer_add_soil' %}"><i class="fas fa-plus-circle"></i>Add Soil Details in Location</a>
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">District</th>
                    <th scope="col">Taluk</th>
                    <th scope="col">Organic Carbon</th>
                    <th scope="col">Phosphorous</th>
                    <th scope="col">Potassium</th>
                    <th scope="col">Manganese</th>
                    <th scope="col">Sulphur</th>
                    <th scope="col">Ph value</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for s in soils %}
                <tr>
                    <td>{{s.district}}</td>
                    <td>{{s.region}}</td>
                    <td>{{s.organic_carbon}} %</td>
                    <td>{{s.phosphorous}} Kg/Ha</td>
                    <td>{{s.potassium}} Kg/Ha</td>
                    <td>{{s.manganese}} ppm</td>
                    <td>{{s.sulphur}} ppm</td>
                    <td>{{s.ph_value}}</td>
                    <td><a class="btn btn-danger" href="{% url 'delete_soil_active' %}?soil_id={{s.pk}}">Delete</a></td>
                </tr>
                {% empty %}
                    <td><b>Nothing to show</b></td>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}