div.btn-group{
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

ul{
    list-style-type: none;
    list-style: none;
    align-items: center;
}

.form-group{
    text-align: center;
}

tr{
    text-align: center;
}